{% extends "page.html" %}

{% block header %}
  {{ include('blog/post/header.html') }}
{% endblock %}

{% block body %}
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1" id="post-body">
          {{ page.post.post_content | raw }}
        </div>
      </div>
    </div>
  </article>

  {% if(page.post.post_type == 'post') %}
    <div class="container">
        <!-- Tag and category links -->
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1" id="taxonomy-links">
                {% if page.tags %}
                  <p>Tags: {{ page.tags | raw }}</p>
                {% endif %}
                {% if page.categories %}
                  <p>Category: {{ page.categories | raw }}</p>
                {% endif %}
            </div>
        </div>
    </div>
    {{ include('blog/post/comments.html') }}
  {% endif %}
  
{% endblock %}