<!doctype html>
<html lang="{{application.language}}">
<head>
  {{ include('page/meta.html') }}
  <title>{{page.title}}</title>
  {{ include('page/styles.html') }}
  {{ include('page/google_header.html') }}
</head>
<body>
  <div id="wrap">
    {% block header %}
      {{ include('page/header.html') }}
    {% endblock %}

    <div id="header-push"></div>
    
    {{ include('components/messages.html') }}

    {% block body %}
      <h1>{{page.title}}</h1>
      <div>{{page.description}}</div>
    {% endblock %}
    
    <div id="footer-push"></div>
  </div>

  {% block footer %}
    {{ include('page/footer.html') }}
  {% endblock %}

  {% block scripts %}
    {{ include('page/scripts.html') }}
    {{ include('page/google_body.html') }}
  {% endblock %}
</body>
</html>